# Vivado build files
build/ 
docs/structure.md
results/schematic.pdf

*.jou
*.log
*.str
*.wdb
*.pb
*.webtalk
*.xml
*.xpr
*.xpr.lock
.Xil/
*.cache/
*.ip_user_files/
*.sim/

# Ignore Vivado project folder
chacha20/
